<div class="navigation-menu">
    <div class="navigation-menu_brand" (click)="routerNavigate('')">
        <div class="brand-icon">
            <img src="../../../../assets/Parcel-icon-72.png" alt="">
        </div>
        <div class="brand-text">
            Post Office
        </div>
    </div>

    <div class="navigation-menu_routes">
        <div class="router-link" (click)="routerNavigate('create-new-parcel')">
            Create parcel
        </div>
        <div class="router-link" (click)="routerNavigate('user-profile/Nikita_Glukhi')">
            User profile
        </div>
        <div class="router-link" (click)="routerNavigate('')">
            Parcels management
        </div>
    </div>

    <div class="authentication">
        <div class="authentication_button" (click)="routerNavigate('login')">
            Sign In
        </div>
        <div class="authentication_button" (click)="routerNavigate('register')">
            Sign Up
        </div>
    </div>
</div>
