.navigation-menu {
  position: absolute;
  width: 80px;
  top: 0;
  float: left;
  height: 100%;
  background-color: dimgray;
  user-select: none;
  -webkit-transition-property: width, margin, background-color, -webkit-trasform, color;
  -moz-transition-property: width, margin, background-color, -moz-transform, color;
  -o-transition-property: width, margin, background-color, -o-transform, color;
  transition-property: width, margin, background-color, transform, color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .navigation-menu_brand {
    cursor: pointer;
    position: fixed;
    margin: 30px 4px 0 4px;
    -webkit-transition-property: width, margin, background-color, -webkit-trasform, color;
    -moz-transition-property: width, margin, background-color, -moz-transform, color;
    -o-transition-property: width, margin, background-color, -o-transform, color;
    transition-property: width, margin, background-color, transform, color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .navigation-menu_routes {
    text-align: center;
    margin: 350px 0 0 -290px;
    -webkit-transition-property: width, margin, background-color, -webkit-trasform, color;
    -moz-transition-property: width, margin, background-color, -moz-transform, color;
    -o-transition-property: width, margin, background-color, -o-transform, color;
    transition-property: width, margin, background-color, transform, color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .navigation-menu:hover {
    width: 300px; }
    .navigation-menu:hover .navigation-menu_brand {
      margin: 60px 4px 0 4px; }
    .navigation-menu:hover .navigation-menu_routes {
      transform: translate(300px, 0); }
    .navigation-menu:hover .router-link {
      color: white; }
    .navigation-menu:hover .brand-text {
      color: white;
      transform: translate(0, 290px); }
    .navigation-menu:hover .authentication {
      transform: translate(285px, 0); }

.brand-icon {
  float: left; }

.brand-text {
  color: rgba(105, 105, 105, 0);
  float: right;
  margin-top: -290px;
  font-size: 290%;
  font-family: Amita;
  -webkit-transition-property: width, margin, background-color, -webkit-trasform, color;
  -moz-transition-property: width, margin, background-color, -moz-transform, color;
  -o-transition-property: width, margin, background-color, -o-transform, color;
  transition-property: width, margin, background-color, transform, color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.router-link {
  width: 280px;
  font-size: 150%;
  cursor: pointer;
  font-family: Roboto Mono;
  padding: 10px;
  color: rgba(105, 105, 105, 0);
  border-radius: 8px;
  user-select: none;
  -webkit-transition-property: width, margin, background-color, -webkit-trasform, color;
  -moz-transition-property: width, margin, background-color, -moz-transform, color;
  -o-transition-property: width, margin, background-color, -o-transform, color;
  transition-property: width, margin, background-color, transform, color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .router-link:hover {
    background-color: #404040; }

.authentication {
  width: 35%;
  margin-left: -190px;
  margin-top: 400px;
  text-align: center;
  -webkit-transition-property: width, margin, background-color, -webkit-trasform, color;
  -moz-transition-property: width, margin, background-color, -moz-transform, color;
  -o-transition-property: width, margin, background-color, -o-transform, color;
  transition-property: width, margin, background-color, transform, color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .authentication_button {
    color: white;
    padding: 5px;
    cursor: pointer;
    background-color: #315fed;
    -webkit-transition-property: width, margin, background-color, -webkit-trasform, color;
    -moz-transition-property: width, margin, background-color, -moz-transform, color;
    -o-transition-property: width, margin, background-color, -o-transform, color;
    transition-property: width, margin, background-color, transform, color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
    .authentication_button:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    .authentication_button:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
    .authentication_button:hover:first-child {
      background-color: #000dff; }
    .authentication_button:hover:last-child {
      background-color: #000dff; }

/*# sourceMappingURL=header.component-1.css.map */
