<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-dark bg-dark text-white">
  <a class="navbar-brand" routerLink="">
    <img src="../../../assets/Parcel-icon-72.png" class="d-inline-block align-top" alt="">
  </a>

  <div class="btn-group my-2" role="group" aria-label="">
    <button type="button" class="btn btn-primary" routerLink="login">Sign In</button>
    <button type="button" class="btn btn-primary">Sign Up</button>
  </div>
</nav>

<router-outlet></router-outlet>
