 <div class="card-body">
    <div class="input-group input-group-lg">
      <div class="input-group-prepend prepend-length">
        <span class="input-group-text" id="first-name">First Name:</span>
      </div>
      <input type="text" class="form-control" placeholder="Input your first name"
             [(ngModel)]="firstName" aria-label="Sizing example input"
             aria-describedby="first-name">
    </div>

    <br>

    <div class="input-group input-group-lg">
      <div class="input-group-prepend prepend-length">
        <span class="input-group-text" id="last-name">Last Name:</span>
      </div>
      <input type="text" class="form-control" placeholder="Input your last name"
             [(ngModel)]="lastName" aria-label="Sizing example input"
             aria-describedby="last-name">
    </div>

    <br>

    <div class="input-group input-group-lg">
      <div class="input-group-prepend prepend-length">
        <span class="input-group-text" id="nickname">Nickname:</span>
      </div>
      <input type="text" class="form-control" placeholder="Input your nickname"
             [(ngModel)]="nickname" aria-label="Sizing example input"
             aria-describedby="nickname">
    </div>
  </div>

