<div class="user-profile">
    <div class="user-profile-title">
        <h3>{{ user.userNickname }}</h3>
    </div>
    <div class="user-profile-settings">
        <tabset [justified]="true">
            <tab heading="Info">
              <div class="tab-body">
                  <h4>INFO</h4>
              </div>
            </tab>
            <tab heading="Edit">
                <div class="tab-body">
                    <h4>EDIT</h4>
                </div>
            </tab>
            <tab heading="My parcels">
                <div class="tab-body">
                    <h4>MY PARCELS</h4>
                </div>
            </tab>
        </tabset>
    </div>
</div>
