<div class="card-body">
  <div class="input-group input-group-lg">
    <div class="btn-group" dropdown>
      <button type="button" class="btn btn-light">{{ phoneCode }}</button>
      <button id="button-split" type="button" dropdownToggle class="btn btn-light dropdown-toggle dropdown-toggle-split"
              aria-controls="dropdown-split">
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul id="dropdown-split" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-split">
        <li role="menuitem" *ngFor="let phone of phoneKeys"><a class="dropdown-item" (click)="selectPhoneCode(phone.code)">{{ phone.code }}, {{ phone.country }}</a></li>
      </ul>
    </div>

    <input type="text" class="form-control" placeholder="Phone number"
           [(ngModel)]="phoneNumber" aria-label="Sizing example input"
           aria-describedby="first-name">
  </div>

  <br>

  <div class="input-group input-group-lg">
    <div class="input-group-prepend prepend-length">
      <span class="input-group-text" id="last-name">Phone number:</span>
    </div>
    <input type="email" class="form-control" placeholder="Input your email"
           [(ngModel)]="email" aria-label="Sizing example input"
           aria-describedby="last-name">
  </div>
</div>
